	.modal {
			display: none;
			position: fixed;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgba(0,0,0,0.4);
		}

		.modal-content {
			background-color: #;
			margin: 10% auto;
			padding: 20px;
			border: 0px solid #888;
			width: 80%;
		}

		.close {
			color: yellow;
			float: right;
			font-size: 28px;
			font-weight: bold;
		}

		.close:hover,
		.close:focus {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
	.btn2 {
      background-color: red;
      border: none;
      color: white;
      padding: 10px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #555555;
      color: white;
    }

    .btn:active {
      background-color: #FFA500;
      transform: translateY(2px);
    }
	
		@keyframes buttonAnim {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.2);
			}
			100% {
				transform: scale(1);
			}
		}
		
		button {
			background-color: blue;
			border: none;
			color: yellow;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 12px;
			margin: 4px 2px;
			cursor: pointer;
			animation-duration: 0.5s;
			animation-name: buttonAnim;
		}
		
	
      .fill video {
        object-fit: fill;
      }
      .fit video{
        object-fit: contain;
      }
    
    
